Repository code100x/job-board: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Add payment CTA
  prisma/migrations/20240913112145_add_razorpay_schema/migration.sql
  src/components/job-form.tsx
Due: eslint --fix, prettier --write

renamed to create job
  src/lib/constant/app.constant.ts
Due: eslint --fix, prettier --write

responsive header on md screens
  src/layouts/header.tsx
Due: eslint --fix, prettier --write

added no jobs text
  docker-compose.yaml
  src/components/all-jobs.tsx
Due: eslint --fix, prettier --write

feat:jobs page scrollbar
  src/app/globals.css
  src/components/all-jobs.tsx
Due: eslint --fix, prettier --write

added jobscard
  src/components/JobsCard.tsx
  src/components/all-jobs.tsx
Due: eslint --fix, prettier --write

Migrated to BunnyCDN for image upload
  package.json
  src/app/[...404]/page.tsx
  src/app/api/s3-upload/route.ts
  src/app/api/upload-to-cdn/route.ts
  src/components/job-form.tsx
Due: eslint --fix, prettier --write

Reverted package.json
  package.json
Due: none

Update README.md
  README.md
Due: none

Update .env.example
  .env.example
Due: none

gmaps-dropdown
  .env.example
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  src/actions/job.action.ts
  src/app/[...404]/page.tsx
  src/components/all-jobs.tsx
  src/components/gmaps-autosuggest.tsx
  src/components/job-form.tsx
  src/layouts/footer.tsx
  src/layouts/job-filters.tsx
  src/lib/validators/jobs.validator.ts
  src/services/jobs.services.ts
  src/types/jobs.types.ts
Due: eslint --fix, prettier --write

company-logo-url-fix
  src/components/job-form.tsx
Due: eslint --fix, prettier --write

Refactored env for CDN
  .env.example
  README.md
  src/app/api/upload-to-cdn/route.ts
Due: eslint --fix, prettier --write

workflow-pipeline-prettier-fix
  .github/workflows/ci.yaml
  package.json
Due: none

prettier-fix
  README.md
Due: none

Added docs for image cdn domain config
  README.md
  next.config.js
Due: none

Add prisma studio command
  package.json
Due: none

failure-syntax-fix
  .github/workflows/ci.yaml
Due: none

Fixed lint
  README.md
  next.config.js
Due: none

ui changes + husky pre-commit
  package.json
  src/app/globals.css
Due: prettier --write

Migrated to BunnyCDN for image upload (#337)
  .env.example
  README.md
  next.config.js
  package.json
  src/app/[...404]/page.tsx
  src/app/api/s3-upload/route.ts
  src/app/api/upload-to-cdn/route.ts
  src/components/job-form.tsx
Due: eslint --fix, prettier --write

prettier-fix
  README.md
  src/app/[...404]/page.tsx
Due: eslint --fix, prettier --write

feature
  .env.example
  .github/workflows/ci.yaml
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  src/actions/job.action.ts
  src/app/globals.css
  src/components/all-jobs.tsx
  src/components/gmaps-autosuggest.tsx
  src/components/job-form.tsx
  src/layouts/footer.tsx
  src/layouts/job-filters.tsx
  src/lib/validators/jobs.validator.ts
  src/services/jobs.services.ts
  src/types/jobs.types.ts
Due: eslint --fix, prettier --write

Revert "feature"
  .env.example
  .github/workflows/ci.yaml
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  src/actions/job.action.ts
  src/app/globals.css
  src/components/all-jobs.tsx
  src/components/gmaps-autosuggest.tsx
  src/components/job-form.tsx
  src/layouts/footer.tsx
  src/layouts/job-filters.tsx
  src/lib/validators/jobs.validator.ts
  src/services/jobs.services.ts
  src/types/jobs.types.ts
Due: eslint --fix, prettier --write

[feature]: added google api for custom job location
  .env.example
  .github/workflows/ci.yaml
  package.json
  prisma/schema.prisma
  prisma/seed.ts
  src/actions/job.action.ts
  src/app/globals.css
  src/components/all-jobs.tsx
  src/components/gmaps-autosuggest.tsx
  src/components/job-form.tsx
  src/layouts/footer.tsx
  src/layouts/job-filters.tsx
  src/lib/validators/jobs.validator.ts
  src/services/jobs.services.ts
  src/types/jobs.types.ts
Due: eslint --fix, prettier --write

[ CHORE ]: added studio
  package.json
Due: none

fix:code conflict
  src/components/JobsCard.tsx
  src/components/all-jobs.tsx
Due: eslint --fix, prettier --write

Removed issues template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/improvement.yml
Due: none

ui
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/improvement.yml
  src/app/editDetails/page.tsx
  src/components/userDetails.tsx
  src/lib/constant/app.constant.ts
Due: eslint --fix, prettier --write

Added User Login through CMS creds
  .env.example
  prisma/migrations/20240915194504_init/migration.sql
  prisma/migrations/20240915215449_add_courses/migration.sql
  prisma/schema.prisma
  src/app/api/auth/[...nextauth]/route.ts
  src/app/signin/page.tsx
  src/components/sign-in.tsx
  src/layouts/header.tsx
  src/lib/auth.ts
Due: eslint --fix, prettier --write

Added User Login through CMS creds
  src/layouts/header.tsx
Due: eslint --fix, prettier --write

Added ci/cd pipeline
  .github/workflows/cd.yaml
  Dockerfile.prod
  prisma/migrations/20240915194739_init/migration.sql
Due: none

Updated secret
  .github/workflows/cd.yaml
Due: none

Fixed file location
  .github/workflows/cd.yaml
Due: none

Fixed certs
  .github/workflows/cd.yaml
Due: none

Added prod workflow
  .github/workflows/cd_prod.yaml
Due: none

Added prod title
  .github/workflows/cd_prod.yaml
Due: none

feat:explore job page improvement
  src/components/all-jobs.tsx
  src/components/ui/card.tsx
Due: eslint --fix, prettier --write

Updated Ui
  src/components/userDetails.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx,json}
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx,json,css,md}
